*{
    margin:0;
    padding:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
    
}

body{
    width:100%;
    background-color: #2c2929;
    color:#fff;
}

.inner{
    max-width:80%;
    margin:0 auto;
}


.flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-2{
    display:flex;
    flex-wrap: wrap;
}

header{
    width:100%;
    height:100vh;
    background-image:url("../img/banner.jpg");
    background-size:cover;
    background-position:center;
    position: relative;
}

header::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgb(24, 27, 27);
    opacity: 0.9;
    left:0;

}

nav{
    width:100%;
    background-color: #0a0a0a;
    position: fixed;
    z-index: 1;
}

nav .name{
    width:60%;
}

.name h1{
    color:#fff;
    padding:10px;
    font-size:1.6rem;
}
.name span{
    color:rgb(5, 106, 156);
    font-size:1.6rem;
}

nav .slide{
    width:38%;
}

nav .slide li{
    padding:15px 0;
    list-style-type: none;
    padding-right:0;


    
}

ul li a{
    text-decoration: none;
    color:#fff;
}

ul li a:hover{
    color:red;
}

nav .button{
    width:50px;
    padding-top:10px;
    cursor: pointer;
    display: none;
}

.btn{
    width:40px;
    height:5px;
    background-color: gray;
    margin:5px;
}
.button:hover{
    color: #fff;
}

/* banner starts  */

.banner{
    width:100%;
    text-align:center;
    margin:0 auto;
    top:250px;
    color:#fff;
    position: relative;
}

.banner h1{
    font-size:3.5rem;
    text-shadow: 4px 2px 2px  rgb(228, 71, 197);
}

.banner h3{
    font-size:2rem;
    padding-bottom: 30px;
    font-weight:400;
    text-shadow:2px 3px 2px rgb(223, 84, 84);

}

.banner a{
    text-decoration: none;
    border:3px solid rgb(54, 92, 232);
    color:rgb(33, 159, 232);
    padding:10px 10px;
    background: none;
   
}

.banner a:hover{
    background-color: blue;
    color:#fff;
    border:3px solid rgb(40, 205, 18);
    border-radius: 60%;
}


/* about section */

.about{
    width:100%;
    padding:60px 0px;
}

.about h1 , .projects h1, .contact h1{
    font-size:2.5rem;
    color:#fff;
    text-align:center;
    font-weight:600;
}
.about hr{
    width:15%;
    color:rgb(15, 86, 121);
    margin:0 auto;
}

.about .img{
    width:40%;
    height:460px;
}

.img img{
    width:100%;
    height:100%;
    margin-top:80px;
}

.about .detail{
    width:55%;
    margin-top:90px;
}

.about .detail h1{
    color:#fff;
    font-size :1.4rem;
    font-weight:400;
    text-align: left;
}

.detail h2{
    font-size:1.3rem;
    font-weight:300;
    word-spacing:0.3rem;
    letter-spacing:0.1rem;
}
.detail span{
    color:#4679e0;
    font-size:1.1rem;
}

.detail p{
    padding:10px 0px;
    font-size:1.3rem;
    font-weight:200;
}

.detail h3{
    padding:5px 0px;
    font-size:1.1rem;
    font-weight:300;
}


.detail h4{
    font-size:1.7rem;
    font-weight:300;
    position:relative;
    padding:10px 0;
}

.detail h4::after{
    content:"";
    position: absolute;
    width:180px;
    height:1px;
    top:48px;
    left:35px;
    background-color:#4679e0;
}



.skill{
    width:100%;
}

.skill .type{
    padding:5px 10px;
    margin-right:25px;
    margin-top:20px;
    font-size:1rem;
    font-weight:lighter;
    color:#fff;
    border:2px solid #4679e0;
}

/* projects section */

.projects{
    padding:60px 0px; 
}

.projects hr{
    width:18%;
    color:rgb(15, 86, 121);
    margin:0 auto;
}

.projects .image{
    width:48%;
    margin-top:60px;
}

.projects .image img{
    width: 100%;
    height:100%;
}

.projects .summary{
    width:49%;
    margin-top:60px;
}

.summary h1{
    font-size:2rem;
    color:#4679e0;
    text-align: left;
    font-weight:500;
}

.summary p{
    padding:12px 0px 0px 20px;
    font-size:1rem;
}

.summary .other{
    margin-top:20px;
}

.summary button{
     padding:7px 25px;
     border:2px solid #4679e0;
     color:#fff;
     background:none; 
     margin-top:30px;
     margin-left:20px;   
}

.summary button a{
    text-decoration: none;
    color:#fff
}

.summary button:hover, .contact button:hover{
    background-color: #4679e0;
}

.summary span{
    color:#4679e0;
    padding-right:10px;
}



/* contact */

.contact {
    padding:50px 0px;
    text-align: center;
}

.contact hr{
    width:15%;
    color:rgb(15, 86, 121);
    margin:0 auto;
    margin-bottom:30px;
}

.contact input{
    width:70%;
    padding:7px 10px;
    margin:15px 0px;
    border:none;
    background-color: #141313;
    color:rgb(182, 179, 179);
    font-size: 0.9rem;
}

.contact textarea{
    width:70%;
    height:30vh;
padding:5px 10px;
margin:10px 0px;
border:none;
background-color: #141313;
color:rgb(107, 105, 105);
font-size: 0.9rem;
}

.contact button{
    padding:10px 25px;
    border:2px solid #4679e0;
    color:#fff;
    background:none;
    margin-top:30px;
}

/* footer */

footer{
    width:100%;
    padding:10px 0px;
    background-color:#0a0909d6;
}

footer h2{
   font-size:1.5rem;
}

footer h2 span{
    font-size:1.5rem;
    color:#4679e0;
}

.icon{
    margin-top:10px;
}

.icon a{
    text-decoration: none;
    color:#fff;
    padding:0px 4px;
    letter-spacing:0.1rem;
}

.icon .border{
    border-right:2px solid #fff;
}

.icon a:hover{
    color:rgb(208, 41, 135);
}

@media only screen and (max-width:1200px){
    .inner{
        max-width:90%;
    }
}

@media only screen and (max-width:948px){
    .inner{
        max-width:98%;
    }

    /* .banner h1{
        font-size:2.8rem;
        text-shadow: 4px 2px 2px  blue;
    } */

    *{
        font-size:17px;
    }

    .projects .image, .projects .summary, .about .img, .about .detail{
        width:100%;
    }

    .skill{
        width:65%;
    }

    .skill .type{
        padding:5px 8px;
        margin-right:18px;
    }
    
}

@media only screen and (max-width:700px){
   
   
    *{
        font-size: 16px;
    }

   
    nav .name{
        width:70%;
    }
    

    nav .slide{
        width:30%;
        display: none;
    }
    
    nav .slide li{
        padding:15px 10px 10px 0px;
        list-style-type: none;
    }

    nav .button{
        display:block;
    }

    .contact input, .contact textarea{
        width:90%;
    }

       
     
     
}

@media only screen and (max-width:548px){
    .banner h1{
        font-size:2.8rem;
    }

    .banner h3{
        font-size:1.6rem;
    }
}